body {
    margin: 0px;
    border: 0px;
    padding: 0px;
}

#map {
    background: rgba(0, 0, 0, 0);
    height: 100%;
    width: 100%;
    position: absolute;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    background-color: #666;
    margin: .8em 0;
    padding: 0; 
}

h3 {
    text-transform: uppercase;
}

/* paint area */

#kinkade {
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    position: absolute;
    right: -1px;
    z-index: 1000;
    padding: 4px;
    width: 264px;
    display: block;
    background-color: #26282e;
    border: 1px solid #bbb;
    color: #eee;
    overflow: scroll;
    max-height: 97%;
}
#kcanvas {
    position: absolute;
    z-index: 2000;
    margin: 0;
    padding: 0;
    width: 256px;
    height: 256px;
    border: 1px solid #000
}
#canvaswrapper {
    height: 256px;
    margin: 4px;
    top: 20px;
    overflow: hidden;
}
#kvideo {
    display: none;
    position: absolute;
    z-index: 2001;
    margin: 0;
    padding: 0;
    width: 256px;
    height: 256px;
    border: 1px #000 solid;
    overflow: hidden;
    left: -51px;
}
#reticle {
    position: absolute;
    z-index: 3000;
    pointer-events: none;
    height: 256px;
    width: 256px;
    opacity: 0.2;
}

/* color picking */

.jscolor {
    width: 98%;
}

#swatches {
    width: 100%;
    height: 1em;
    margin: 5px auto;
}
.swatch {
    width: 14.39%;
    height: 100%;
    background-color: grey;
    margin: 0 2px;
    float: left;
    border: 1px solid grey;
}

#loadSwatches {
    display: block;
    position: relative;
    margin: 0 auto;
}

/* brushes */

.brushes {
    width: 100%;
    float: left;
    margin: 0 auto;
    text-align: center;
    /*border: 2px solid gold;*/
}

.hitarea, .hitarea-selected {
    width: 50px;
    height: 45px;
    float: left;
    cursor: pointer;
    margin: 2px 6%;
}
.hitarea-fuzzy, .hitarea-fuzzy-selected {
    width: 50px;
    height: 43px;
    float: left;
    cursor: pointer;
    margin: 2px 6%;
}
.hitarea:hover > button {
    background-color: #eefafa;
}
.hitarea-fuzzy:hover > button {
    background-color: #eefafa;
    -moz-box-shadow: 0px 0px 18px 18px #eefafa;
    -webkit-box-shadow: 0px 0px 18px 18px #eefafa;
    box-shadow: 0px 0px 18px 18px #eefafa;
}

.button-small {
    pointer-events: none;
    -moz-box-shadow: 0px 0px 0px -50px grey;
    -webkit-box-shadow: 0px 0px 0px -50px grey;
    box-shadow: 0px 0px 0px -50px grey;
    background-color: grey;
    -moz-border-radius:7px;
    -webkit-border-radius:7px;
    border-radius:7px;
    padding:7px 7px;
    border: none;
    margin: 14px auto;
}

.button-big {
    pointer-events: none;
    -moz-box-shadow: 0px 0px 0px -50px grey;
    -webkit-box-shadow: 0px 0px 0px -50px grey;
    box-shadow: 0px 0px 0px -50px grey;
    background-color: grey;
    -moz-border-radius:16px;
    -webkit-border-radius:16px;
    border-radius:16px;
    padding:16px 16px;
    border: none;
    margin: 5px auto;
}

.button-blurry {
    pointer-events: none;
    -moz-box-shadow: 0px 0px 16px 16px grey;
    -webkit-box-shadow: 0px 0px 16px 16px grey;
    box-shadow: 0px 0px 16px 16px grey;
    background-color: grey;
    -moz-border-radius:16px;
    -webkit-border-radius:16px;
    border-radius:16px;
    padding:1px 1px;
    border: none;
    margin: 0 auto;
    margin-top: 20px;
}

.hitarea-selected > button {
    background-color: #eefafa;
}
.hitarea-fuzzy-selected > button {
    background-color: #eefafa;
    -moz-box-shadow: 0px 0px 18px 18px #eefafa;
    -webkit-box-shadow: 0px 0px 18px 18px #eefafa;
    box-shadow: 0px 0px 18px 18px #eefafa;
}


/* presets */

#panes {
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    position: absolute;
    right: 272px;
    z-index: 1000;
    background-color: #26282e;
    color: #eefafa;
    border: 1px solid #bbb;
    float: right;
    padding: 0px;
    margin: 0px;
    z-index: 1000;
    line-height: 20px;
}

#panes a {
    color: #eefafa;
}

#panes a:hover {
    color: #fffe47;
    text-decoration: underline;
}

#help {
    width: 440px;
    padding: 8px;
    display: none;
}

#examples {
    text-transform: uppercase;
    width: 264px;
    padding: 8px;
    display: none;
}

#examples a img {
}

#examples img:hover {
    outline: 2px solid #fffe47;
}

.example {
    width: 50px;
}

#locations {
    text-transform: uppercase;
    width: 264px;
    padding: 8px;
    display: none;
}

#locations a {
    text-transform: none;
    text-decoration: none;
}

.location {
    cursor: pointer;
    color: blue;
    text-decoration: underline;
}

#scenespane {
    text-transform: uppercase;
    padding: 8px;
    width: 408px;
    display: none;
    max-height: 90%;
    overflow: hidden;
}

#scenes {
    overflow: auto;
    height: 618px;
}

.scene {
    cursor: pointer;
    color: blue;
    display: inline-block;
    margin: 2px;
    overflow: scroll;
    position: relative;
}

.scene:hover {
    /*background-color: #d66;*/
}

/* other buttons and controls */

button {
    background-color: #343639;
    box-shadow: inset 0 1px 1px rgba(255,255,255,.06);
    color: #eefafa;
    margin: 0 .4em;
    border: 1px solid #1a1c1f;
    border-radius: 3px;
    padding: .8em .75em;
}

button:hover {
    background-color: #36383e;
    color: #fffe47;
    cursor: pointer;
}

#scale {
    color: #eefafa;
    background-color: #444;
    margin-left: 1em;
    border: 1px solid #ccc;
}

input[type=range]:disabled {
  opacity: .3;
}

#line_toggles {
    width: 100%;
    display:block;
}

input[type=checkbox] {
  margin-left: .5em;
  margin-right: 5px;
}

.slider {
    width: 98%;
}

#saveButton {
    font-size: 30px;
    float: right;
    clear: none;
}

.rewindwrapper {
    display:inline-block;
    width: 98%;
}

.rewindtick {
    display: inline-block;
    position: absolute;
    height: 20px;
    width: 3px;
    background-color: grey;
    z-index: -1;
    left: 12px;
}
#snapshot {
    color: #aaa;
    margin-left: 20px;
}

#flipwebcam {
    color: #333;
}

#flipspan {
    margin-left: 25px;
    color: #aaa;
}

#webcamdiv {
    /*display: none;*/
}

.kbutton#recordvideo {
    display: none;
}

#account-actions {
    display: none;
}

#loginname {
    clear: right;
}

#save-dialog {
    height: 200px;
    width: 300px;
    /*display: none;*/
    position:absolute;
    left:50%;
    top:50%;
    margin:-100px 0 0 -150px;
    z-index: 10000;
    border: 2px solid black;
    background-color: white;
    padding: 20px;
}

.spheremap-thumbnail {
    width: 72px;
    height: 72px;
}

.screenshot-thumbnail {
    height: 72px;
}

.clearfix {
    padding: 0;
    margin: 0;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.deletescene-button {
    position: absolute;
    right: 0;
    top: 0;
    margin: 0;
    padding: 0;
    width: 20px;
    height: 20px;
    line-height: 10px;
    background-color: #c00;
    cursor: pointer;
    z-index: 1000;
    outline: 0;
}
.deletescene-button:hover {
    background-color: red;
    color: white;
    font-weight: bold;
    border: 2px solid white;
}
.deletescene-button:focus {
    border: 2px solid #80b8f4;
}
